<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>登录页面</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}">  
	<script src="../static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" href="../static/css/animations.css" th:href="@{/static/css/animations.css}"/>
	<link rel="stylesheet" href="../static/css/login.css" th:href="@{/static/css/login.css}"/>
	</head>
	<body>
		<div class="col-lg-4 col-center-block panel panel-default col-sm-4">
			<div class="bs-example bs-example-form" role="form">
				<h1 class="title" style="color: white;">欢迎登录课程管理系统</h1>
				<form action="main" method="post" id="mForm">
				<div class="input-group input-group">
					<span class="input-group-addon">账号</span>
					<input type="text" class="form-control" name="userId" placeholder="请使用学号或教师编号登录">
				</div>
				<br />
				<div class="input-group input-group">
					<span class="input-group-addon">密码</span>
					<input type="password" class="form-control passwd" placeholder="您的初始密码为编号后六位" name="password">
				</div>
				<div style="width:100%;margin: 0px auto;margin-top: 5%;">
					<label style="margin-left: 25%;">
						<input name="identify" type="radio" value="0" checked="checked" />学生
					</label>
					<label style="margin-left: 30%;">
						<input name="identify" type="radio" value="1" />教师
					</label>
				</div>
				<h3 class="pswdAtten"></h3>
				<div class="input-group submit col-lg-12 col-sm-12 col-xs-12">
					<button class="btn-success btn-lg" id="loginBtn" style="margin-left: 35%;">登录</button>
				</div>
				</form>
			</div>
		</div>
		
		<script>
			function Trim(str)
			 { 
			  return str.replace(/(^\s*)|(\s*$)/g, ""); 
			}
			 function randomClass()
		{
			var value=Math.round(Math.random()*34);
			switch (value){
				case 0:
					return "pt-page-moveFromBottom";
					break;
				case 1:
					return "pt-page-moveFromTop";
					break;
				case 2:
					return "pt-page-moveFromLeft";
					break;	
				case 3:
					return "pt-page-moveFromRight";
					break;
				case 4:
					return "pt-page-moveFromLeftFade";
					break;
				case 5:
					return "pt-page-moveFromRightFade";
					break;
				case 6:
					return "pt-page-moveFromTopFade";
					break;
				case 7:
					return "pt-page-moveFromBottomFade";
					break;
				case 8:
					return "pt-page-scaleUpDown";
					break;
				case 9:
					return "pt-page-scaleUpCenter";
					break;
				case 10:
					return "pt-page-flipInLeft";
					break;
				case 11:
					return "pt-page-flipInRight";
					break;
				case 12:
					return "pt-page-flipInBottom";
					break;
				case 13:
					return "pt-page-flipInTop";
					break;
				case 14:
					return "pt-page-rotateInNewspaper";
					break;
				case 15:
					return "pt-page-rotatePullRight";
					break;
				case 16:
					return "pt-page-rotatePullLeft";
					break;
				case 17:
					return "pt-page-rotatePullTop";
					break;
				case 18:
					return "pt-page-rotatePullBottom";
					break;
				case 19:
					return "pt-page-rotateUnfoldLeft";
					break;
				case 20:
					return "pt-page-rotateUnfoldRight";
					break;
				case 21:
					return "pt-page-rotateUnfoldTop";
					break;
				case 22:
					return "pt-page-rotateUnfoldBottom";
					break;
				case 23:
					return "pt-page-rotateRoomLeftIn";
					break;
				case 24:
					return "pt-page-rotateRoomRightIn";
					break;
				case 25:
					return "pt-page-rotateRoomTopIn";
					break;
				case 25:
					return "pt-page-rotateRoomBottomIn";
					break;
				case 26:
					return "pt-page-rotateCubeLeftIn";
					break;
				case 27:
					return "pt-page-rotateCubeRightIn";
					break;
				case 28:
					return "pt-page-rotateCubeTopIn";
					break;
				case 29:
					return "pt-page-rotateCubeBottomIn";
					break;
				case 30:
					return "pt-page-rotateCarouselLeftIn";
					break;
				case 31:
					return "pt-page-rotateCarouselRightIn";
					break;
				case 32:
					return "pt-page-rotateCarouselTopIn";
					break;
				case 33:
					return "pt-page-rotateCarouselBottomIn";
					break;
				case 34:
					return "pt-page-rotateSidesIn";
					break;
				default:
					break;
			}
		}
		$('body').addClass(randomClass());
			function loadXMLDoc()
			{
			  var xmlhttp;
			  var id=document.querySelector('.id').value;
			  var passwd=document.querySelector('.passwd').value;
			  if (window.XMLHttpRequest)
			  {
			    // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
			    xmlhttp=new XMLHttpRequest();
			  }
			  else
			  {
			    // IE6, IE5 浏览器执行代码
			    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			  }
			  xmlhttp.onreadystatechange=function()
			  {
			    if (xmlhttp.readyState==4 && xmlhttp.status==200)
			    {
			    	var pswdAtten=document.querySelector('.pswdAtten');
			    	var str=Trim(xmlhttp.responseText);
			    	pswdAtten.innerHTML=str;
			    	if(str=="密码正确")
			    	{
			    		pswdAtten.style.color="ghostwhite";
			    		setTimeout(function(){
			    			window.location.href="exam.html";
			    		},1500);
			    		
			    	}else if(str=="账户不存在,2s后跳转注册页面")
			    	{
			    		pswdAtten.style.color="red";
			    		setTimeout(function(){
			    			window.location.href="register.html";
			    		},1500);
			    	}
			    	else
			    		pswdAtten.style.color="red";
			    }
			  }
			  xmlhttp.open("POST","main.jsp",true);
			  xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			  xmlhttp.send("type=account"+"&id="+id+"&passwd="+passwd);
			}
		</script>
		
		<script type="text/javascript">
			$(function(){
				$("#loginBtn").click(function(){
					var userId =  $("input[name='userId']").val();
					var password = $("input[name='password']").val();
					if (userId == "" || userId == null || userId == undefined) {
						alert("提交失败，请检查您的用户名或密码");
						return false; /*阻止表单提交*/
					} else if (password == "" || password == null || password == undefined) {
						alert("提交失败，请检查您的用户名或密码");
						return false;
					} else {
						$("#mForm").submit();
					}
		
				});
			});
		</script>
	</body>
</html>
